body {
	background: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTkNdgIPZlS5hVxy542H3-i7V2epZ0AVcjL1Gb4jNCqUxW9_F_oupSZEjU);
	background-repeat: no-repeat;
	background-size: cover;
}	

h4 {
	background: rgb(225,50,30);
}
